<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/orders.css">

    <%- include('../includes/navigation.ejs') %>
        <main>
        <%if(orders.length < 1) {%>
            <h1>You haven't order anything yet...</h1>
        <%} else {%>
            <ul class="orders"> 
                <%orders.forEach(order => {%>
                    <li class="orders__item">
                        <h1>Order# <%= order._id %></h1>
                        <ul class="orders__products">
                            <% order.products.forEach(item => { %>
                                <li class="orders__products-item"><%= item.name %> (<%= item.quantity %>)</li>
                            <% }); %>
                        </ul>
                        <hr>
                        <div class="centered">
                            <h1>Total: $<%=order.totalToPay%></h1>
                        </div>
                    </li>
                <%});%>
            </ul>
        <%}%>

<%- include('../includes/end.ejs') %>