<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css" />
  <%- include('../includes/navigation.ejs') %>
    <main>
    <% if(productList.length > 0) { %>
    <div class="grid">
      <% for (let product of productList){ %>
      <article class="card product-item">
        <header class="card__header">
          <h1 class="product__title"><%= product.name %></h1>
        </header>
        <div class="card__image" onclick="location.href='/product-details'">
          <img
            src="<%= product.imageUrl %>"
            alt="<%= product.name %>"
          />
        </div>
        <div class="card__content">
          <h2 class="product__price">$<%= product.price %></h2>
          <p class="product__description">
            <%= product.description %>
          </p>
        </div>
        <div class="card__actions">
          <a class="btn" href="/product-details/<%= product._id %>">See Details</a>
          <%- include('../includes/add-to-cart.ejs', {product: product}) %>
        </div>
      </article>
      <% } %>
    </div>
    <% } else { %>
    <h1>No products added yet...</h1>
    <% } %>
<%- include('../includes/end.ejs') %>